<a href="https://colab.research.google.com/github/sharjeelanjum/Deeplearning_with_pytorch/blob/main/IRIS-exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
# Let's install Tensorflow 2.0:
!pip install -q tensorflow==2.0.0

     |████████████████████████████████| 86.3 MB 39 kB/s
     |████████████████████████████████| 50 kB 4.4 MB/s
     |████████████████████████████████| 449 kB 41.9 MB/s
     |████████████████████████████████| 3.8 MB 43.9 MB/s
  Building wheel for gast (setup.py) ... done
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow-probability 0.16.0 requires gast>=0.3.2, but you have gast 0.2.2 which is incompatible.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import tensorflow as tf
print(tf.__version__)

2.0.0

In [ ]:
file_name = "/content/Q3_Iris.csv"
data = pd.read_csv(file_name, encoding="utf-8")

In [ ]:
data.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [ ]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(data, test_size=0.3,
random_state=42)

In [ ]:
train_data.shape

(105, 5)

In [ ]:
# rename columns for features
training_features = train_data[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]
training_features.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

In [ ]:
training_features

     sepal_length  sepal_width  petal_length  petal_width
81            5.5          2.4           3.7          1.0
133           6.3          2.8           5.1          1.5
137           6.4          3.1           5.5          1.8
75            6.6          3.0           4.4          1.4
109           7.2          3.6           6.1          2.5
..            ...          ...           ...          ...
71            6.1          2.8           4.0          1.3
106           4.9          2.5           4.5          1.7
14            5.8          4.0           1.2          0.2
92            5.8          2.6           4.0          1.2
102           7.1          3.0           5.9          2.1

[105 rows x 4 columns]

In [ ]:
training_labels = train_data[['variety']]

In [ ]:
training_labels =train_data[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]
training_features.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

        variety
81   Versicolor
133   Virginica
137   Virginica
75   Versicolor
109   Virginica
..          ...
71   Versicolor
106   Virginica
14       Setosa
92   Versicolor
102   Virginica

[105 rows x 1 columns]

In [ ]:
# rename columns for features
testing_features = test_data[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]
testing_features.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

In [ ]:
tesing_labels = test_data[['variety']]

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators = 10, random_state = 42)
#rf.fit(training_features, training_labels);
model = rf.fit(training_features, training_labels.values.ravel())

In [ ]:
model.score(testing_features,tesing_labels)

1.0

In [ ]:
flowers_prediction = model.predict(testing_features)

In [ ]:
from sklearn import metrics
print(metrics.classification_report(tesing_labels, flowers_prediction, digits=3))

              precision    recall  f1-score   support

      Setosa      1.000     1.000     1.000        19
  Versicolor      1.000     1.000     1.000        13
   Virginica      1.000     1.000     1.000        13

    accuracy                          1.000        45
   macro avg      1.000     1.000     1.000        45
weighted avg      1.000     1.000     1.000        45